* {
  margin: 0;

}
body {
  background-color: aliceblue;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__header > h1 {
  color:#fc3c3c;
  font-size: 2rem;
}

.app__dropdown {
  background-color: white;
}

.app__left {
  flex: 0.75;
}

.app__rigth {
  flex: 0.23;
}

.app__infobox {
  display: flex;
  justify-content: space-between;
  
}

.app__graph {
  flex-grow: 1;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

.app__buttons {
  flex-grow: 1;
  width: 100%;
}

@media (max-width: 1200px) {
  .app{
    flex-direction: column;
  }
  .map{
    margin-bottom: 20px;
  }
}
